<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>696225523578-c5c47coc2956atbqujqrab4fdks29hgu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696225523578-c5c47coc2956atbqujqrab4fdks29hgu</string>
	<key>API_KEY</key>
	<string>AIzaSyBur94Qoent4lZx5D5Of4wmBjW1a-35Ru8</string>
	<key>GCM_SENDER_ID</key>
	<string>696225523578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.triviapatente.ios</string>
	<key>PROJECT_ID</key>
	<string>triviapatente-4bc4e</string>
	<key>STORAGE_BUCKET</key>
	<string>triviapatente-4bc4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696225523578:ios:4af69eea1423d3d3</string>
	<key>DATABASE_URL</key>
	<string>https://triviapatente-4bc4e.firebaseio.com</string>
</dict>
</plist>